@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HighSchoolManagmentApp.Models.Seance
@{
    ViewData["Title"] = "student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>seance</h2>
@Model.Name
@Model.Number
@Model.subjectId
@Model.salleId
